In [ ]:
from sklearn.metrics import accuracy_score
from tensorflow.keras.layers import BatchNormalization
import datetime as dt
from sklearn import model_selection
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("Final_Dataset.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76907 entries, 0 to 76906
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TimeInSec      76907 non-null  object
 1   UplinkSum      76907 non-null  float64
 2   UplinkCount    76907 non-null  int64
 3   Uplink         76907 non-null  int64
 4   DownlinkSum    76907 non-null  float64
 5   DownlinkCount  76907 non-null  int64
 6   Downlink       76907 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 4.1+ MB

In [ ]:
df.tail()

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
76902,2019-02-17 04:45:32,290.0,1,1,40.0,1,1
76903,2019-02-17 04:45:33,366.0,5,1,10772.0,6,1
76904,2019-02-17 04:45:36,348.0,3,1,6360.0,5,1
76905,2019-02-17 04:45:40,280.0,7,1,2376.0,7,1
76906,2019-02-17 04:45:41,0.0,0,0,122.0,2,1

In [ ]:
col1=df["TimeInSec"]

In [ ]:
col1[0]

'2019-01-25 16:14:19'

In [ ]:
from datetime import date, datetime, timedelta
def perdelta(col1):
    i=0
    dtfmt = '%Y-%m-%d %H:%M:%S'
    a = '2019-01-25 16:14:19'
    while (i < len(col1)):
        curr=[]
        for j in range (0,11):
            start = datetime.strptime(col1[i],dtfmt)  
            start+=j*timedelta(seconds=1)
            start=start.strftime(dtfmt)
            curr.append(start)
        yield curr
        i+=1

stack=[]
for result in perdelta(col1):
    stack.append(result)

In [ ]:
type(stack[0])

list

In [ ]:
stack[0]

['2019-01-25 16:14:19',
 '2019-01-25 16:14:20',
 '2019-01-25 16:14:21',
 '2019-01-25 16:14:22',
 '2019-01-25 16:14:23',
 '2019-01-25 16:14:24',
 '2019-01-25 16:14:25',
 '2019-01-25 16:14:26',
 '2019-01-25 16:14:27',
 '2019-01-25 16:14:28',
 '2019-01-25 16:14:29']

In [ ]:
stack1=np.array(stack)

In [ ]:
stack1=stack1.flatten()

In [ ]:
len(stack1)

845977

In [ ]:
stack1=set(stack1)

In [ ]:
len(stack1)

226344

In [ ]:
len(list(set(stack1)-set(df["TimeInSec"])))

149437

In [ ]:
T=list(set(stack1)-set(df["TimeInSec"]))

In [ ]:
len(df)

76907

In [ ]:
len(stack)

76907

In [ ]:
len(df)+len(T)

226344

In [ ]:
500503-31956

468547

In [ ]:
T=pd.DataFrame(T)

In [ ]:
T.head()

                     0
0  2019-01-28 07:30:33
1  2019-01-29 16:49:38
2  2019-02-13 22:52:17
3  2019-02-13 23:24:32
4  2019-02-15 11:01:28

In [ ]:
mapping = {T.columns[0]:'TimeInSec'}
T = T.rename(columns=mapping)

In [ ]:
T.head()

             TimeInSec
0  2019-01-28 07:30:33
1  2019-01-29 16:49:38
2  2019-02-13 22:52:17
3  2019-02-13 23:24:32
4  2019-02-15 11:01:28

In [ ]:
T["UplinkSum"]=0
T["UplinkCount"]=0
T["Uplink"]=0
T["DownlinkSum"]=0
T["DownlinkCount"]=0
T["Downlink"]=0

In [ ]:
T.head()

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
0,2019-01-28 07:30:33,0,0,0,0,0,0
1,2019-01-29 16:49:38,0,0,0,0,0,0
2,2019-02-13 22:52:17,0,0,0,0,0,0
3,2019-02-13 23:24:32,0,0,0,0,0,0
4,2019-02-15 11:01:28,0,0,0,0,0,0

In [ ]:
df1=pd.concat([df,T])

In [ ]:
df1

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
0,2019-01-25 16:14:19,40.0,1,1,0.0,0,0
1,2019-01-25 16:16:12,0.0,0,0,152.0,1,1
2,2019-01-25 16:16:13,344.0,6,1,1052.0,7,1
3,2019-01-25 16:17:18,143.0,2,1,80.0,2,1
4,2019-01-25 16:19:01,40.0,1,1,40.0,1,1
...,...,...,...,...,...,...,...
149432,2019-02-12 19:30:54,0.0,0,0,0.0,0,0
149433,2019-01-29 19:02:14,0.0,0,0,0.0,0,0
149434,2019-01-28 12:24:08,0.0,0,0,0.0,0,0
149435,2019-02-15 14:58:17,0.0,0,0,0.0,0,0
149436,2019-02-14 01:34:55,0.0,0,0,0.0,0,0

In [ ]:
df1=df1.sort_values(by=['TimeInSec'])

In [ ]:
df1=df1.set_index(np.arange(len(df1.index)))

In [ ]:
df1=df1[0:-10]

In [ ]:
df1

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
0,2019-01-25 16:14:19,40.0,1,1,0.0,0,0
1,2019-01-25 16:14:20,0.0,0,0,0.0,0,0
2,2019-01-25 16:14:21,0.0,0,0,0.0,0,0
3,2019-01-25 16:14:22,0.0,0,0,0.0,0,0
4,2019-01-25 16:14:23,0.0,0,0,0.0,0,0
...,...,...,...,...,...,...,...
226329,2019-02-17 04:45:37,0.0,0,0,0.0,0,0
226330,2019-02-17 04:45:38,0.0,0,0,0.0,0,0
226331,2019-02-17 04:45:39,0.0,0,0,0.0,0,0
226332,2019-02-17 04:45:40,280.0,7,1,2376.0,7,1
226333,2019-02-17 04:45:41,0.0,0,0,122.0,2,1

In [ ]:
df1.to_csv('ProPadding.csv', index=False)

#END OF FILE

In [ ]:
df2=df[31956:]

In [ ]:
df2

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
31956,2019-02-11 15:23:16,36843.0,15,1,2248.0,10,1
31957,2019-02-11 15:23:19,10720.0,11,1,1470.0,7,1
31958,2019-02-11 15:23:20,27417.0,35,1,4030.0,20,1
31959,2019-02-11 15:23:21,63823.0,47,1,5624.0,35,1
31960,2019-02-11 15:23:27,153014.0,131,1,10772.0,103,1
...,...,...,...,...,...,...,...
76902,2019-02-17 04:45:32,290.0,1,1,40.0,1,1
76903,2019-02-17 04:45:33,366.0,5,1,10772.0,6,1
76904,2019-02-17 04:45:36,348.0,3,1,6360.0,5,1
76905,2019-02-17 04:45:40,280.0,7,1,2376.0,7,1
76906,2019-02-17 04:45:41,0.0,0,0,122.0,2,1

In [ ]:
from datetime import date, datetime, timedelta

def perdelta(start, end, delta):
    curr = start
    while curr <= end:
        yield curr
        curr += delta

dtfmt = '%Y-%m-%d %H:%M:%S'

a = '2019-02-11 15:23:16'
b = '2019-02-17 04:45:41'

start = datetime.strptime(a,dtfmt)
end = datetime.strptime(b,dtfmt)

stack=[]
for result in perdelta(start , end, timedelta(seconds=1)):
    stack.append(str(result))

print(stack[0:100])

['2019-02-11 15:23:16', '2019-02-11 15:23:17', '2019-02-11 15:23:18', '2019-02-11 15:23:19', '2019-02-11 15:23:20', '2019-02-11 15:23:21', '2019-02-11 15:23:22', '2019-02-11 15:23:23', '2019-02-11 15:23:24', '2019-02-11 15:23:25', '2019-02-11 15:23:26', '2019-02-11 15:23:27', '2019-02-11 15:23:28', '2019-02-11 15:23:29', '2019-02-11 15:23:30', '2019-02-11 15:23:31', '2019-02-11 15:23:32', '2019-02-11 15:23:33', '2019-02-11 15:23:34', '2019-02-11 15:23:35', '2019-02-11 15:23:36', '2019-02-11 15:23:37', '2019-02-11 15:23:38', '2019-02-11 15:23:39', '2019-02-11 15:23:40', '2019-02-11 15:23:41', '2019-02-11 15:23:42', '2019-02-11 15:23:43', '2019-02-11 15:23:44', '2019-02-11 15:23:45', '2019-02-11 15:23:46', '2019-02-11 15:23:47', '2019-02-11 15:23:48', '2019-02-11 15:23:49', '2019-02-11 15:23:50', '2019-02-11 15:23:51', '2019-02-11 15:23:52', '2019-02-11 15:23:53', '2019-02-11 15:23:54', '2019-02-11 15:23:55', '2019-02-11 15:23:56', '2019-02-11 15:23:57', '2019-02-11 15:23:58', '2019-02-11 15:23:59', '2019-02-11 15:24:00', '2019-02-11 15:24:01', '2019-02-11 15:24:02', '2019-02-11 15:24:03', '2019-02-11 15:24:04', '2019-02-11 15:24:05', '2019-02-11 15:24:06', '2019-02-11 15:24:07', '2019-02-11 15:24:08', '2019-02-11 15:24:09', '2019-02-11 15:24:10', '2019-02-11 15:24:11', '2019-02-11 15:24:12', '2019-02-11 15:24:13', '2019-02-11 15:24:14', '2019-02-11 15:24:15', '2019-02-11 15:24:16', '2019-02-11 15:24:17', '2019-02-11 15:24:18', '2019-02-11 15:24:19', '2019-02-11 15:24:20', '2019-02-11 15:24:21', '2019-02-11 15:24:22', '2019-02-11 15:24:23', '2019-02-11 15:24:24', '2019-02-11 15:24:25', '2019-02-11 15:24:26', '2019-02-11 15:24:27', '2019-02-11 15:24:28', '2019-02-11 15:24:29', '2019-02-11 15:24:30', '2019-02-11 15:24:31', '2019-02-11 15:24:32', '2019-02-11 15:24:33', '2019-02-11 15:24:34', '2019-02-11 15:24:35', '2019-02-11 15:24:36', '2019-02-11 15:24:37', '2019-02-11 15:24:38', '2019-02-11 15:24:39', '2019-02-11 15:24:40', '2019-02-11 15:24:41', '2019-02-11 15:24:42', '2019-02-11 15:24:43', '2019-02-11 15:24:44', '2019-02-11 15:24:45', '2019-02-11 15:24:46', '2019-02-11 15:24:47', '2019-02-11 15:24:48', '2019-02-11 15:24:49', '2019-02-11 15:24:50', '2019-02-11 15:24:51', '2019-02-11 15:24:52', '2019-02-11 15:24:53', '2019-02-11 15:24:54', '2019-02-11 15:24:55']

In [ ]:
T=list(set(stack)-set(df2["TimeInSec"]))

In [ ]:
T=pd.DataFrame(T)

In [ ]:
mapping = {T.columns[0]:'TimeInSec'}
T = T.rename(columns=mapping)

In [ ]:
T["UplinkSum"]=0
T["UplinkCount"]=0
T["Uplink"]=0
T["DownlinkSum"]=0
T["DownlinkCount"]=0
T["Downlink"]=0

In [ ]:
T.head()

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
0,2019-02-15 17:22:23,0,0,0,0,0,0
1,2019-02-12 15:41:50,0,0,0,0,0,0
2,2019-02-15 23:06:49,0,0,0,0,0,0
3,2019-02-12 07:43:08,0,0,0,0,0,0
4,2019-02-15 13:22:53,0,0,0,0,0,0

In [ ]:
df2=pd.concat([df2,T])

In [ ]:
df2

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
31956,2019-02-11 15:23:16,36843.0,15,1,2248.0,10,1
31957,2019-02-11 15:23:19,10720.0,11,1,1470.0,7,1
31958,2019-02-11 15:23:20,27417.0,35,1,4030.0,20,1
31959,2019-02-11 15:23:21,63823.0,47,1,5624.0,35,1
31960,2019-02-11 15:23:27,153014.0,131,1,10772.0,103,1
...,...,...,...,...,...,...,...
435190,2019-02-15 13:05:49,0.0,0,0,0.0,0,0
435191,2019-02-16 01:13:11,0.0,0,0,0.0,0,0
435192,2019-02-12 16:59:45,0.0,0,0,0.0,0,0
435193,2019-02-13 19:58:04,0.0,0,0,0.0,0,0
435194,2019-02-15 03:16:41,0.0,0,0,0.0,0,0

In [ ]:
df2=df2.sort_values(by=['TimeInSec'])

In [ ]:
df2=df2.set_index(np.arange(len(df2.index)))

In [ ]:
df2

,TimeInSec,UplinkSum,UplinkCount,Uplink,DownlinkSum,DownlinkCount,Downlink
0,2019-02-11 15:23:16,36843.0,15,1,2248.0,10,1
1,2019-02-11 15:23:17,0.0,0,0,0.0,0,0
2,2019-02-11 15:23:18,0.0,0,0,0.0,0,0
3,2019-02-11 15:23:19,10720.0,11,1,1470.0,7,1
4,2019-02-11 15:23:20,27417.0,35,1,4030.0,20,1
...,...,...,...,...,...,...,...
480141,2019-02-17 04:45:37,0.0,0,0,0.0,0,0
480142,2019-02-17 04:45:38,0.0,0,0,0.0,0,0
480143,2019-02-17 04:45:39,0.0,0,0,0.0,0,0
480144,2019-02-17 04:45:40,280.0,7,1,2376.0,7,1
480145,2019-02-17 04:45:41,0.0,0,0,122.0,2,1

In [ ]:
df2.to_csv('Dataframe2.csv', index=False)